/**
 * Basic typography style for copy text
 */
body {
  color: $body-color;
  font-family: $text-font-stack;
  font-size: $base-font-size;
}

p{
	color: $p-color;
}

a{
	color: $a-color;
}

h1, h2, h3, h4, h5, h6{
	color: $h-color;
}